button {
  font-size: 16px;
  color: blue;
}
.main__button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.main__container {
  max-width: 600px;
  font-size: 18px;

  margin: 0 auto;
  /* text-align: center; */
}
.main__container-wrapper {
  background-color: aquamarine;
}
.main__container-text {
  margin-left: 15px;
}
.main__answers-container {
  text-align: left;
}
.main__answers-container-wrapper {
  width: 50%;
}
.input__answer,
.label__answer {
  margin: 0 20px 20px 20px;
}
/* imitation preloader */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
